{% extends "base.html.twig" %}

{% block title %}AppBundle:Food:index{% endblock %}

{% block body %}
<h1 style="margin: 50px 0;">Welcome to Popular FOOD</h1>
    {% for inst_food in inst_foods %}
        <div>
            <div style="display: inline-block; width: 45%;vertical-align: top;">
                <h2><a href="{{ path('app_food_institution', {'id' : inst_food.institution.id})  }}">{{ inst_food.institution.title }}</a></h2>
                <img src="{{ asset(food_images ~ inst_food.institution.foto) }}" style="height: 150px;width: auto; margin: 10px;"/>
                <p style="width: 70%;">{{ inst_food.institution.description }}</p>
            </div>
            <div style="display: inline-block; width: 45%;vertical-align: top;">
                <br/><em><b>Популярные блюда заведения:</b></em><br/><br/>
                {% for dish in inst_food.dishes %}
                    <div>
                        <h4>{{ dish[0].title }}</h4>
                        <p>(Куплено {{ dish.buy_cnt }} порций за последний год.)</p>
                        <img src="{{ asset(food_images ~ dish[0].foto) }}" style="height: 150px;width: auto; margin: 10px;"/><br/><br/>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr style="clear: both;"/>
    {% endfor %}

{% endblock %}
