{% extends 'base.html.twig' %}

{% block title %}
Institution
{% endblock %}


{% block body %}
    <h1 style="margin: 50px 0;">{{ institution.title }}</h1>

    {% for dish in dishes %}
        <div style="display: inline-block;">
            <h4>{{ dish.title }}</h4>
            <img src="{{ asset(food_images ~ dish.foto) }}" style="height: 150px;width: auto; margin: 10px;"/>
        </div>
    {% endfor %}
{% endblock %}
